@using PhimmoiClone.Areas.Cinema.Models
@model Movie

@{
    ViewBag.Title = $"thông tin phim {Model?.Name}";
    var actors = ViewData["Actors"] as List<Actor>;
    var genres = ViewData["Genres"] as List<Genre>;
}

<partial name="_StatusMessage" />

<h1>thông tin phim: @Model?.Name</h1>

<h2>Hình ảnh:</h2>
@foreach (var image in Model?.MovieImages!)
{
    <img src="~/images/@image.Path" alt="@image.Name" width="200px" height="200px"/>
}

<hr>

<a asp-action="AddActorsToMovie" asp-route-id="@Model?.Id" class="btn btn-success">
    Gán diễn viên
</a>
<h2>Tất cả diễn viên: </h2>
@if (actors is {Count: > 0 })
{
    <ul>
        @foreach (var actor in actors)
        {
            <li>
                <a asp-controller="Actor"
                   asp-action="Detail"
                   asp-route-id="@actor.Id">
                    @actor.Name
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Hiện chưa có diễn viên</p>
}

<hr>

<a asp-action="AddGenresToMovie" asp-route-id="@Model?.Id" class="btn btn-success">
    Gán thể loại
</a>
<h2>Tất cả thể loại: </h2>
@if (genres is { Count: > 0 })
{
    <ul>
        @foreach (var genre in genres)
        {
            <li>
                <a asp-controller="Genre"
                   asp-action="Detail"
                   asp-route-id="@genre.Id">
                    @genre.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p class="text-danger">Hiện chưa có thể loại</p>
}

<hr>

<a asp-controller="Episode" asp-action="Create" asp-route-movieId="@Model.Id" class="btn btn-success">Thêm tập</a>
<h2>Tất cả tập phim:</h2>
@if (Model.Episodes is {Count: > 0})
{
    @foreach (var episode in Model.Episodes)
    {
        <a asp-controller="Episode"
           asp-action="Detail"
           asp-route-movieId="@Model.Id"
           asp-route-id="@episode.Id"
           class="btn btn-primary"
           >
            @episode.EpNumber
        </a> 
        <span> - </span>
        <a asp-controller="Episode"
           asp-action="Delete"
           asp-route-movieId="@Model.Id"
           asp-route-id="@episode.Id"
        >
            Xóa
        </a>
        <span> - </span>
        <a asp-controller="Episode"
           asp-action="Edit"
           asp-route-movieId="@Model.Id"
           asp-route-id="@episode.Id"
        >
            Sửa
        </a>
             
    }
}
else
{
    <p class="text-danger">Hiện chưa có tập phim nào</p>
}

<hr>
<a asp-action="DeleteConfirm" asp-route-id="@Model?.Id" class="btn btn-danger">Xóa phim</a>
<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Sửa thông tin phim</a>